{% extends 'base.html.twig' %}

{% block title %}
About Us | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, vel, voluptate. Corporis, cum cupiditate eaque enim fuga incidunt ipsum itaque iusto necessitatibus provident sunt temporibus unde veritatis? Architecto eligendi, nisi?
    </div>
{% endblock %}

